@model Movie

<h1>Movie name</h1>
<h2>@Model.Name</h2>

<h3>Genre: @Model.Genre</h3>

<h4>Synopsis: @Model.Description</h4>

<h3>Release date</h3>
<h4>@Model.ReleaseYear</h4>

<h3>Budget: $@Model.Budget</h3>

<h2>Rating: @ViewBag.AverageRating</h2> @* TODO: Make a method for average *@

<h3>Actors:</h3>
<ul>
	@foreach (Actor a in Model.Actors)
	{
		<li>@a.Name <a asp-controller="Actors" asp-action="Details" asp-route-id="@a.Id">Details</a></li>
	}
</ul>

<h2>Ratings/Reviews!</h2>
<form method="post" asp-action="CreateRating" asp-controller="Movies">
	<input type="number" name="Rating" id="Rating" step="0.01" placeholder="Rating.."/>
	<input type="text" name="Comment" id="Comment" placeholder="Comment..." />
	<input type="number" name="UserId" id="UserId" placeholder="User ID (100001)"/>
	<label for="UserId">User Id (make name later)</label>
	<input type="hidden" name="MovieId" id="MovieId" value="@Model.Id" />
	<input type="submit" value="Submit" />
</form>
<ul class="list-unstyled">
	@foreach (Rating r in Model.Ratings)
	{
		<li><h3 class="small">@r.User.Name: @r.UserRating @r.UserComment</h3></li>
	}
</ul>
