@model List<Movie>

@foreach (Movie m in @Model) {
	<h2>@m.Name <a asp-action="Details" asp-route-id="@m.Id">Details</a></h2>
	<p>Genre: @m.Genre</p>
	<p>@m.Description</p>

	<p>Release date: @m.ReleaseYear</p>

	<h3>Actors:</h3>
	<ul>
		@foreach (Actor a in m.Actors)
		{
			<li>@a.Name <a asp-controller="Actors" asp-action="Details" asp-route-id="@a.Id">Details</a></li>
		}
	</ul>
}